@font-face {
  font-family: "Red Hat Display";
  src: url("../../public/fonts/RedHatDisplay-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../../public/fonts/RedHatDisplay-MediumItalic.ttf");
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../../public/fonts/RedHatDisplay-Bold.ttf");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Red Hat Display";
  src: url("../../public/fonts/RedHatDisplay-BoldItalic.ttf");
  font-style: italic;
  font-weight: 700;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'Red Hat Display', sans-serif;
  }
}

@layer components {
  .layout {
    @apply h-screen grid;
    grid-template-rows: min-content auto min-content;
  }

  button {
    @apply px-4 py-2 border border-black rounded-lg;
  }
}
